<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
</head>

<body>
    <h1 style="text-align: center" ;>Avaliação</h1>
    <hr>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="name">Nome</label>
        <input type="text" name="name">
        <label for="name">Username</label>
        <input type="password" name="username">
        <button>Enviar</button>
    </form>
</body>

</html>